{{#extend "base"}}
    {{#content "content"}}
        <main>
            <h1>Ammenities</h1>
            <h3>Coming soon!</h3>
            <p>test</p>

            <div id="all-ammenities">
                <div class="ammenity">
                    <div class="description">
                        <h3>Ammenity 1</h3>
                        <p>Description</p>
                    </div>
                    <img class="img-of-ammenity">
                </div>
            </div>
        </main>

        <script src="rules.js"></script>
    {{/content}}
{{/extend}}