{{#extend "base"}}
    {{#content "content"}}
        <main>
            <h1>Our Story</h1>
            <h3>Coming soon!</h3>
        </main>

        <script src="rules.js"></script>
    {{/content}}
{{/extend}}