:root {
    --mobile-element-height: 40px;
    --mobile-button-width: 200px;
    --body-text-color-main: rgb(0, 0, 105);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: darkgrey; */
    /* background-image: url(Images/bay.jpg); */
    /* opacity: .2; */
    font-family: 'Poppins', sans-serif;
    color: var(--body-text-color-main);
}

#background-image {
    position: fixed;
    z-index: -1;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px 10px;
}

a {
    text-decoration: none;
}

@media (min-width: 800px) {
    main {
        max-width: 800px;
        position: relative;
        margin: 0 auto;
        top: 150px;
    }
}

button {
    height: var(--mobile-element-height);
    width: var(--mobile-button-width);
}

h1 {
    text-align: center;
}


/* ----------------------------------- */
/* ------------  NAVIGATION  --------- */
/* ----------------------------------- */

.nav-top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    border-top: 1px solid black;
    padding: 10px 10px;
}

.nav-right-side {
    display: none;
}

@media (min-width:800px) {
    .nav-right-side {
        display: flex;
        padding: 20px 50px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

#logo {
    text-decoration: none;
}

@media (min-width: 800px) {
    #logo {
        text-decoration: none;
    }
    .logo {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .nav-top {
        bottom: auto;
        justify-content: space-between;
        border-bottom: 1px solid black;
        background-color: white;
        z-index: 1;
    }
}

.sideMenu-style{
    background-color: white;
    padding: 5px;
    width: 200px;
}

.sideMenu-position {
    position: fixed;
    right: 0;
    bottom: 48px;
    transform: translateY(150%);
    transition: 0.4s ease-in-out;
}

.sideMenu-translate {
    transform: translateY(0%);
}

#hamburger {
    margin: 10px;
    margin: 10px;
}

@media (min-width: 800px) {
    .menuTable, .sideMenu-style, .sideMenu-position {
        display: none;
    }
}

.sideMenu-style li {
    margin: 5px;
    height: 40px;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-button {
    cursor: pointer;
}

@media (min-width: 800px) {
    .menu-button {
        display: none;
    }
}

@media (min-width:800px) {
    .nav-page-link {
        padding: 0px 30px;
    }
}

/* ----------------------------------- */
/* ------------  DATE PICKER  -------- */
/* ----------------------------------- */

fieldset, form {
    padding: 10px 0;
}

input {
    /* display: block; */
    padding: 5px;
    height: var(--mobile-element-height);
}

.entry {
    /* margin: 5px; */
    width: 154px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 10px 0px 10px;
}

.arrive-depart {
    display: flex;
    flex-direction: row;
}

@media (min-width: 800px){
    .entry {
        margin: 10px;
    }
}

@media (min-width: 800px) {
    .inputs {
        padding: 60px 10px 0px 10px; 
    }
}

/* ----------------------------------- */
/* -----------  GUEST PICKER  -------- */
/* ----------------------------------- */

#select-number-of-guests {
    width: 60px;
    height: var(--mobile-element-height);
}

.guests-input {
    width: var(--mobile-button-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

#see-house-rules {
    padding: 20px;
    text-decoration: none;
}

/* ----------------------------------- */
/* -----------  Trip Details  -------- */
/* ----------------------------------- */

@media (min-width: 800px) {
    .trip-details {
        align-items: flex-start;
        margin: 0 auto;
    }
}

.amounts {
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
}

.totals {
    padding-right: 100px;
    color: darkblue;
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}




/* ----------------------------------- */
/* -------------  Buttons  ----------- */
/* ----------------------------------- */

input {
    border-radius: 5px;
}

.button-primary {
    background-color: rgb(219, 246, 255);
    border: 2px solid darkblue;
    font-size: large;
    font-weight: 700;
    color: rgb(15, 44, 53);
}

#see-house-rules {
    color: blue;
    stroke: white;
}